<span id="flip-icon" class="glyphicon glyphicon-pencil" ng-click="vm.graf=!vm.graf;vm.allPoraba(vm.graf);vm.editEnabled=false"   aria-hidden="true"></span>

<div id="graf" ng-hide="vm.graf" >
  
    <select  class="form-control input-sm" id="zgoGraf" ng-change="vm.whenZgoSelected()" required ng-model="vm.izberiZgo" ng-disabled="!vm.zgodovina.length" ng-model-options="{ updateOn: 'change', debounce: { change: 0 } }" ng-options="x.mesec group by x.leto for x in vm.zgodovina">
      
       </select>
<div google-chart chart="myChartObject" style="height:100%; width:100%;"></div>




<fieldset  ng-if="vm.editEnabled2">
    <ng-form name="dodajTodo" class="form-inline" >
      <input  class="form-control" required type="text"  ng-model="vm.znesek" name="znesek" placeholder="Vnesi znesek"> 
      <input class="form-control" required type="date"  ng-model="vm.date" name="datum">
      <input class="form-control" required type="text"  ng-model="vm.izberiVrsto" name="vrsta">

      <!--<select class="form-control" required ng-model="vm.izberiVrsto" ng-options="x.ime_vrste for x in vm.vrste">
        
      </select>-->
     
  </ng-form>
  <button class="form-control" ng-disabled="!dodajTodo.$valid" ng-click="vm.shraniPorabo()">Shrani</button>
</fieldset>

<span id="plus-icon"  class="glyphicon glyphicon-plus" ng-click="vm.edit()" aria-hidden="true"></span>
</div>
<div id="grafPoraba"  ng-show="vm.graf" ng-click="vm.allPoraba()" >
 

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in poraba  | limitTo:vm.pageSize:vm.currentPage*vm.pageSize">Znesek: {{item.znesek}} Datum: {{item.datum}} Vrsta:{{item.vrsta}}<span ng-click="vm.delPoraba(item)">DELETE</span></li>
</ul>



<ul class="pagination">
<li ng-repeat="item in vm.stevilo"><a ng-click="vm.currentPage=item.id"  href="#">{{item.text}}</a></li>
</ul>
</div>

<div ng-if="vm.editEnabled" id="grafinput">
  <ng-form  class="form" name="grafInput" novalidate >
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span> 
         <input  class="form-control input-sm"  required type="text"  ng-model="vm.znesek" name="znesek" placeholder="Vnesi znesek"> 
      </div>
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
    <input class="form-control input-sm" required type="date"  ng-model="vm.date" name="datum"  data-toggle="tooltip" tooltip data-html="true" data-placement="bottom" title="Kategorija porabe!">
      </div>
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span> 
    <input class="form-control input-sm" required type="text"  ng-model="vm.izberiVrsto" name="vrsta">

      </div>

    <!--<select class="form-control" required ng-model="vm.izberiVrsto" ng-options="x.ime_vrste for x in vm.vrste">
      
    </select>-->
   <button class="btn btn-success btn-sm" ng-disabled="!grafInput.$valid" ng-click="vm.shraniPorabo()">Vnesi</button>
</ng-form>


</div>