<div class="vremeB" ng-style="{'background-image':'url('+vm.slika+')',
    'background-repeat':'no-repeat','background-size': 'cover'}">
    <div id="left">
        <span>{{vm.mesto}}</span>
    </div>
    <div id="right">
        <span>{{vm.temp}}</span>
    </div>
    <div id="center">
        <div id="vremeikona">
            <span>
                <i class="{{vm.ikona}}"></i>
            </span>
        </div>
        <div id="vremetext">
            <span>{{vm.stanje}}</span>
        </div>
    </div>
</div>
