<span id="flip-icon" class="glyphicon glyphicon-trash" ng-click="vm.graf=!vm.graf;vm.allPoraba()"   aria-hidden="true"></span>

<div id="graf" ng-hide="vm.graf" >
    <select class="form-control" id="zgoGraf" ng-change="vm.whenZgoSelected()" required ng-model="vm.izberiZgo" ng-options="x.mesec group by x.leto for x in vm.zgodovina">
        
       </select>
<div google-chart chart="myChartObject" style="height:100%; width:100%;"></div>

<fieldset  ng-if="vm.editEnabled">
    <ng-form name="dodajTodo" class="form-inline" >
      <input  class="form-control" required type="text"  ng-model="vm.znesek" name="znesek" placeholder="Vnesi znesek"> 
      <input class="form-control" required type="date"  ng-model="vm.date" name="datum">
      <select class="form-control" required ng-model="vm.izberiVrsto" ng-options="x.ime_vrste for x in vm.vrste">
        
      </select>
     
  </ng-form>
  <button class="form-control" ng-disabled="!dodajTodo.$valid" ng-click="vm.shraniPorabo()">Shrani</button>
</fieldset>

<span id="plus-icon"  class="glyphicon glyphicon-plus" ng-click="vm.edit()" aria-hidden="true"></span>
</div>
<div id="grafPoraba"  ng-show="vm.graf" ng-init="vm.allPoraba()" >
 

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in poraba  | limitTo:vm.pageSize:vm.currentPage*vm.pageSize">Znesek: {{item.znesek}} Datum: {{item.datum}} Vrsta:{{item.ime_vrste}}<span ng-click="vm.delPoraba(item)">DELETE</span></li>
</ul>



<ul class="pagination">
<li ng-repeat="item in vm.stevilo"><a ng-click="vm.currentPage=item.id"  href="#">{{item.text}}</a></li>
</ul>
</div>