<div class="container" ng-controller="LoginRegisterController as vm">
    
                   
                  
                             <!-- PRIJAVA PRIJAVA PRIJAVA PRIJAVA -->
                            <!--
                                 <form class="form-horizontal" id="prijava" name="prijava" ng-submit="vm.prijava()" role="form">
                                     <div class="form-group">
                                         <label class="control-label col-sm-3" for="email">E-Pošta:</label>
                                         <div class="col-sm-8">
                                             <input class="form-control" name="email" ng-change="vm.reset()" ng-model="vm.email" placeholder="Vnesi elektronski naslov" required="" type="email">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-sm-3" for="pwd">Geslo:</label>
                                         <div class="col-sm-8">
                                             <input class="form-control" name="password" ng-change="vm.reset()" ng-model="vm.password" placeholder="Vnesi geslo" required="" type="password">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="control-label col-sm-3" for="pwd">Zapomni si geslo:</label>
                                         <div class="col-sm-8">
                                             <input class="form-control" name="cookie" ng-change="vm.reset()" ng-model="vm.cookie" type="checkbox">
                                         </div>
                                     </div>
                                     <div class="alert alert-danger" ng-if="vm.error">
                                         {{vm.error}}
                                     </div>
                                     <div class="alert alert-success" id="uspesnoReg" style="display:none;">
                                         Registracija je bila uspešna! Zdaj se lahko prijavite.
                                     </div>
                                   
                                     <div class="modal-footer">
                                     <div
                                    
                                     vc-recaptcha
                                     key="'6LdW2jUUAAAAAJZxrQHMJiIYot5ge4La96eZIoxn'"
                                     ng-model="vm.captchaRes"
                                     on-create="setWidgetId(widgetId)"
                                     
                                 ></div>
                                         <button class="btn btn-default"  ng-disabled="vm.error " type="submit">Prijava</button>
                                         <a ui-sref="register">Registracija</a>
                                     </div>
                                   
                                 </form>-->
                                 <div id="logintitle">Nadzorna plošča</div>
                                 <div class="loginspace">
                                    <form class="form-horizontal" id="prijava" name="prijava"  role="form">
                                        <div class="form-group">
                                            
                                            
                                                <input class="form-control" name="email" ng-change="vm.reset()" ng-model="vm.email" placeholder="Vnesi elektronski naslov" required="" type="email">
                                            
                                        </div>
                                        <div class="form-group">
                                            
                                           
                                                <input class="form-control" name="password" ng-change="vm.reset()" ng-model="vm.password" placeholder="Vnesi geslo" required="" type="password">
                                           
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="pwd">Zapomni si geslo:</label>
                                          
                                                <input  name="cookie" ng-change="vm.reset()" ng-model="vm.cookie" type="checkbox">
                                            
                                        </div>
                                        <div class="alert alert-danger" ng-if="vm.error">
                                            {{vm.error}}
                                        </div>
                                        <div class="alert alert-success" id="uspesnoReg" style="display:none;">
                                            Registracija je bila uspešna! Zdaj se lahko prijavite.
                                        </div>
                                      
                                        
                                        <div
                                       
                                        vc-recaptcha
                                        key="'6LdW2jUUAAAAAJZxrQHMJiIYot5ge4La96eZIoxn'"
                                        ng-model="vm.captchaRes"
                                        on-create="setWidgetId(widgetId)"
                                        
                                    ></div>
                                           
                                           
                                       
                                      
                                    </form>
                                     <button class="btn btn-default" id="prijavaBtn"  ng-disabled="vm.error " ng-click="vm.prijava()">Prijava</button>
                                     <button class="btn btn-default" id="registerBtn"  ui-sref="register">Registracija</button> 
                                 </div>
                            
                         </div>
                         
                           