<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Nadzorna Plošča</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a ui-sref="test">Domov</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-controller="NastavitveController as vm">
            <li>
                <a data-target="#nastavitveModal" data-toggle="modal" href="#" ng-click="vm.prikaziWidNast()"><i class="glyphicon glyphicon-cog"></i> Nastavitve</a>
            </li>
            <li ng-if="user"><span class="menu-item"><i class="glyphicon glyphicon-user"></i> {{user.user}}</span></li>
            <li ng-if="user">
                <a href="#" ng-click="vm.odjava()">Odjava</a>
            </li>
           
        </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    </div> 




    <div ng-controller="WidgetController as vm">
        <div gridster="gridsterOpts" id="testfix">
                
                <li col="item.position[1]"  dynamic-controller="{{item.controller}} as vm" gridster-item="" ng-hide="item.active == 0" ng-include='item.template' ng-repeat="item in widgets track by $index" row="item.position[0]" size-x="item.size.x" size-y="item.size.y" widget="{{item.id_widget}}"></li>
           
        </div>
    </div><!-- konec polja -->
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="nastavitveModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title"><i class="glyphicon glyphicon-wrench"></i> Nastavitve ploščic</h4>
                    </div>
                    <div class="modal-body">
                        <!-- NASTAVITVE CONTENT -->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="/#splosnoTab">Splošno</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/#dodajTab">Dodaj</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/#vremeTab">Uredi</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="/#PorabaTab">Poraba</a>
                            </li>
                        </ul>
                        <div class="tab-content" ng-controller="NastavitveController as vm">
                            <div class="tab-pane fade in active"  id="splosnoTab">
                                <div class="splosnoCon">

                                    <h1 ng-if="widgets.length == 0 || widgets=='error'">DODAJ WIDGETE</h1>
                                    <h1 ng-if="widgets.length &gt; 0">Skrij/Pokaži</h1>
                                    <ul ng-hide="widgets=='error'" class="list-group" ng-repeat="item in widgets track by $index">
                                        <li class="list-group-item" ng-class="{'list-group-item-success':item.active == 1,'list-group-item-danger':item.active == 0}"><label class="widgetLab"><span aria-hidden="true" class="glyphicon glyphicon-eye-close" ng-if="item.active == 0 ? true : false"></span> <span aria-hidden="true" class="glyphicon glyphicon-eye-open" ng-if="item.active == 1 ? true : false"></span> <input class="skrijCh" data-toggle="toggle" ng-checked="item.active == 0 ? true : false" ng-click="vm.prikaziskrij(item)" type="checkbox"> {{item.ImeWidget}}</label></li>
                                    </ul><button class="btn" data-placement="right" data-toggle="tooltip" ng-class="vm.buttonClass()" ng-click="vm.toggleButton();" ng-if="widgets.length &gt; 0" title="Omogoči premikanje in spremembo velikosti!" type="button">{{vm.buttonName}}</button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dodajTab" style="padding-top:15px">
                                <div class="panel" ng-class="{'panel-success': item.selected, 'panel-default': !item.selected}" ng-repeat="item in vm.widgetTypes">
                                    <div class="panel-heading" ng-click="vm.loadWidgetOptions(item)">
                                        <h3 class="panel-title">{{item.name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        {{item.description}}
                                        <div ng-if="item.selected" style="padding-top:10px;">
                                            <form id="dodajWidgetForm" name="dodajWidgetForm">
                                                <div class="form-group">
                                                    <label>Ime widgeta</label> <input  class="form-control" ng-model="vm.name"  required="" type="text">
                                                </div>
                                                <div ng-repeat="option in item.options | unique:'field'">
                                                    <div ng-if="option.inputType == 'text'">
                                                        <div class="form-group">
                                                            <label>{{option.name}}</label> <input  class="form-control" ng-model="vm.options[option.field]" required="" type="text">
                                                        </div>
                                                    </div>
                                                  
                                                    <div class="form-group" ng-if="option.inputType == 'dropdown'">
                                                        <label>{{option.name}}</label> <select class="form-control" ng-init="vm.options[option.field] = option.dropdownOptions[0].option" ng-model="vm.options[option.field]">
                                                            <option ng-repeat="opt in option.dropdownOptions" value="{{opt.option}}">
                                                                {{opt.name}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group" ng-if="option.inputType == 'dropdown_news'"  ng-repeat="opt in option.dropdownOptions" ng-show="!$first">
                                                        <label>{{option.name}}</label>
                                                        <!--
                                                        <select ng-class="{'test':vm.qwe==false}" required class="form-control"   ng-change="getSorting(vm.options[option.field])" ng-model="vm.options[option.field]" >
                                                            <optgroup label="{{opt1.name}}" ng-repeat="opt1 in opt.source_option | unique:'typeName'">
                                                                <option ng-repeat="opt in opt.source_option | filter:{typeName:opt1.typeName}" value="{{opt.id_source}}">
                                                                    {{opt.sourceName}}
                                                                </option>
                                                            </optgroup>
                                                        </select>-->
                                                        <select class="form-control" required ng-change="getSorting(vm.source.id_source)" ng-options="x.sourceName group by x.name for x in opt.source_option" ng-model="vm.source">

                                                        </select>
                                                      

                                                        <div class="form-group" ng-show="vm.izbrano"  ng-show="!$first">
                                                            <label>Razvrstitev novic za {{vm.source.sourceName}}</label>
                                                            <select class="form-control" ng-class="{'test':vm.qwe1==false}" ng-init="vm.sorted = 'top'" required ng-model="vm.sorted" ng-options="o  for o in  vm.sort">
                                                             
                                                              </select>   
                                                    </div>
                                                    </div>
                                                    
                                                   
                                                    <div class="list-group" id="list1" ng-if="option.inputType=='boolean'" ng-show="$last">
                                                        <a class="list-group-item active" href="#">Izberi:</a> <label class="list-group-item" ng-if="option.inputType=='boolean'" ng-repeat="option in item.options | unique:'field'">{{option.name}}<input class="all pull-right" ng-init="vm.options[option.field] = false" ng-model="vm.options[option.field]" title="toggle all" type="checkbox"></label>
                                                    </div>
                                                </div><!--
                        <div class="form-group" ng-if="option.inputType == 'boolean'">
                          <label>{{option.name}}</label>
                          <input type="checkbox"  ng-init="vm.options[option.field] = false" ng-model="vm.options[option.field]"  />
                        </div>-->
                                                <button class="btn btn-success" ng-click="vm.submitWidgetAdd(item)" ng-disabled="!dodajWidgetForm.$valid">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vremeTab">
                           <h1> {{vm.ifDelete}}</h1>
                            <h1 ng-show="widgets=='error' ||widgets.length==0">Ni ploščic</h1>
                                <div class="panel" ng-class="{'panel-success': item.selected, 'panel-default': !item.selected}" ng-click="vm.loadWidgetSettings(item)" ng-hide="widgets=='error'" ng-repeat="item in widgets track by $index">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{item.ImeWidget}}<span  class="glyphicon glyphicon-trash" ng-click="vm.deleteWidget(item);"></span><span class="glyphicon glyphicon-edit" ng-click="vm.loadWidgetSettings(item)"></span></h3>
                                    </div>
                                    <div class="panel-body" ng-if="item.selected">
                                        <form id="updateForm" name="updateForm">
                                            <div class="form-group">
                                                <label>Ime pripomočka</label> <input class="form-control" ng-init="vm.updateName = item.ImeWidget" ng-model="vm.updateName">
                                            </div>
                                            <div ng-repeat="(key,value) in item.config">
                                                <div class="form-group" ng-if="value.inputType == 'text'">
                                                    <label>{{value.name}}</label> <input class="form-control" ng-init="vm.options2[value.field] = value.value" ng-model="vm.options2[value.field]" type="text" value="">
                                                </div>

                                               
                                                <div class="form-group" ng-if="value.inputType == 'dropdown'">
                                                    <label>{{value.name}}</label> <select class="form-control" ng-init="vm.options2[value.field] = value.value" ng-model="vm.options2[value.field]">
                                                        <option ng-repeat="opt in value.options" value="{{opt.option}}">
                                                            {{opt.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group" ng-if="value.inputType == 'boolean'">
                                                    <input ng-init="vm.options2[value.field] = value.value" ng-model="vm.options2[value.field]" type="checkbox"> <label>{{value.name}}</label>
                                                </div>
                                                <div class="form-group" ng-if="value.inputType == 'dropdown_news'">
                                                    <label>{{value.name}}</label> <select class="form-control" ng-change="getSorting(vm.options2[value.field])"  ng-init="vm.options2[value.field] =value.value" ng-model="vm.options2[value.field]">
                                                        <optgroup label="{{opt1.name}}" ng-repeat="opt1 in value.source_option | unique:'typeName'">
                                                            <option ng-repeat="opt in value.source_option | filter:{typeName:opt1.typeName}" value="{{opt.id_source}}">
                                                                {{opt.sourceName}}
                                                            </option>
                                                        </optgroup>
                                                    </select>
                                                    
                                                    <div class="form-group" ng-init="getSorting(vm.options2[value.field])"  ng-show="!$first">
                                                        <select class="form-control" ng-class="{'test':vm.qwe1==false}"  ng-init="vm.sorted =item.config.vrstni_red.value" required ng-model="vm.sorted" ng-options="o  for o in  vm.sort">
                                                         
                                                          </select>  
                                                          
                                                          
                                                </div>
                                                </div>
                                               
                                            </div><button class="btn btn-success"  ng-click="vm.updateWidgetConfig(item)"  ng-disabled="updateForm.$pristine">Posodobi</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" type="button">Zapri</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    
                   
                </div>
            </div>
        </div>
    </div>
</body>
</html>