<div id="logintitle">Registracija</div>
<div class="loginspace">
    <form class="form-horizontal" id="register" name="regForm">

        <div class="form-group">
            <input class="form-control" id="email2" name="userEmail"  ng-model="vm.email" 
            placeholder="Vnesi elektronski naslov"
            required="" type="email">
            <div  ng-messages="regForm.userEmail.$error">
                <div ng-message="required">
                    Elektronski naslov je obvezen!
                </div>
                <div ng-message="email">
                    Prosim popravite vaš naslov!
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" id="pwd1" name="newPassword" ng-change="vm.checkpass()"
             ng-minlength="8" ng-model="vm.newPass"
             placeholder="Vnesi geslo" required="" type="password">
            <div ng-messages="regForm.newPassword.$error">
                <div ng-message="minlength">
                    Vnesite vsaj 8 znakov
                </div>
                <div ng-message="required">
                    Geslo je obvezno!
                </div>
            </div>
        </div>

        <div class="form-group">
            <input class="form-control" id="pwd2" name="confirmPassword" ng-change="vm.checkpass()" ng-minlength="3" ng-model="vm.confPass"
                placeholder="Ponovite geslo" required="" type="password">
            <div ng-messages="regForm.confirmPassword.$error">
                <div ng-if="vm.newPass!=vm.confPass">
                    Gesli se ne ujemata!
                </div>
            </div>
        </div>
        
        <div class="alert alert-danger" ng-if="vm.error">
            {{vm.error}}
        </div>
        
        <div class="alert alert-success" id="uspesnoReg" ng-show="vm.uspeh">
            Registracija je bila uspešna! Zdaj se lahko prijavite.
        </div>

        <div vc-recaptcha key="'6LdW2jUUAAAAAJZxrQHMJiIYot5ge4La96eZIoxn'" ng-model="vm.captchaRes2" on-create="setWidgetId(widgetId)"></div>


    </form>
    <button class="btn btn-default" id="regBtn" ng-disabled="regForm.$invalid || vm.nomatch || vm.neuspeh" ng-click="vm.registracija()">Registracija</button>
</div>